node_modules
dist
.env
*.log
backend/data/*.json
!backend/data/.gitkeep
backend/uploads/raw/*
backend/uploads/videos/*
backend/uploads/thumbnails/*
backend/uploads/channels/*
!backend/uploads/raw/.gitkeep
!backend/uploads/videos/.gitkeep
!backend/uploads/thumbnails/.gitkeep
!backend/uploads/channels/.gitkeep
frontend/dist
